<form class="ose dialog">
    <div class="form-group">
        <label>{{localize 'OSE.HitDice'}}</label>
        <div class="form-fields">
            <input data-dType="Number" type="text" name="hd"/>
        </div>
    </div>
</div>