<form autocomplete="off">
  <div class="actor header flexrow">
    <div>
      <a class="item-control resync"><i class="fas fa-sync"></i></a>
    </div>
    {{#if user.isGM}}
    <div class="item-controls flexrow">
      <div class="item-control">
        <button type="button" class="deal-xp" title="{{localize 'OSE.dialog.xp.deal'}}">{{localize 'OSE.dialog.xp.label'}}</button>
      </div>
      <div class="item-control">
        <button type="button" class="select-actors" title="{{localize 'OSE.dialog.partyselect'}}"><i class="fas fa-users"></i></button>
      </div>
    </div>
    {{/if}}
  </div>
  <ol class="actor-list">
    {{#each data.entities as |e|}} {{#if e.data.flags.ose.party}}
    <li class="actor flexrow" data-actor-id="{{e.id}}">
      <div class="field-img">
        <img src="{{e.img}}" />
        <div class="img-btns flexrow">
          <button type="button" data-action="open-sheet"><i class="fas fa-user"></i></button>
        </div>
      </div>
      <div class="fields">
        <div class="flexrow field-row">
          <div title="{{e.name}}" class="field-name flex2">
            {{e.name}}
          </div>
          <div class="field-long" title="{{localize 'OSE.Health'}}">
            <i class="fas fa-heart"></i>
            {{e.data.data.hp.value}}/{{e.data.data.hp.max}}
          </div>
          <div class="field-short" title="{{localize 'OSE.ArmorClass'}}">
            <i class="fas fa-shield-alt"></i>
            {{#if @root.settings.ascending}}<strong>{{e.data.data.aac.value}}</strong>
            <sub>{{e.data.data.aac.naked}}</sub>
            {{else}}<strong>{{e.data.data.ac.value}}</strong> <sub>{{e.data.data.ac.naked}}</sub>
            {{/if}}
          </div>
        </div>
        <div class="flexrow field-row">
          {{#unless @root.settings.ascending}}
          <div class="field-short" title="{{localize 'OSE.Thac0'}}">
            <i class="fas fa-crosshairs"></i>
            {{e.data.data.thac0.value}}
          </div>
          {{else}}
          <div class="field-short" title="{{localize 'OSE.AB'}}">
            <i class="fas fa-crosshairs"></i>
            {{e.data.data.thac0.bba}}
          </div>
          {{/unless}}
          {{#if (eq e.data.type 'character')}}
          <div class="field-short" title="{{localize 'OSE.Melee'}}">
            <i class="fas fa-fist-raised"></i>
            {{add e.data.data.scores.str.mod e.data.data.thac0.mod.melee}}
          </div>
          <div class="field-short" title="{{localize 'OSE.Missile'}}">
            <i class="fas fa-bullseye"></i>
            {{add e.data.data.scores.dex.mod e.data.data.thac0.mod.missile}}
          </div>
          {{/if}}
          <div class="field-short flex2">
            <i class="fas fa-shoe-prints" title="{{localize 'OSE.movement.base'}}"></i>
            <span title="{{localize 'OSE.movement.encounter.long'}}">{{e.data.data.movement.encounter}}</span> <sub
              title="{{localize 'OSE.movement.exploration.long'}}">{{e.data.data.movement.base}}</sub>
          </div>
          {{#if (eq e.data.type 'character')}}
          <div class="field-short flex2">
            <i class="fas fa-weight-hanging" title="{{localize 'OSE.Encumbrance'}}"></i>
            {{roundWeight e.data.data.encumbrance.value}}k
          </div>
          {{/if}}
        </div>
        <div class="flexrow field-row">
          <div class="field-longer flexrow">
            {{#each e.data.data.saves as |s i|}}
            <span title="{{lookup @root.config.saves_long i}}">{{lookup @root.config.saves_short i}} {{s.value}}</span>
            {{/each}}
            {{#if (eq e.data.type 'character')}}<span><i class="fas fa-magic"
                title="{{localize 'OSE.saves.magic.long'}}"></i>{{mod e.data.data.scores.wis.mod}}</span>{{/if}}
          </div>
        </div>
      </div>
    </li>
    {{/if}} {{/each}}
  </ol>
</form>