<form autocomplete="off">
  <div class="form-group">
    <label>Amount</label>
    <input name="total" placeholder="0" type="text" data-dtype="Number" />
    <button type="button" data-action="calculate-share"><i class="fas
        fa-calculator"></i></button>
  </div>
  <hr />
  <ul class="actors">
    {{#each actors as |e|}}
    <li class="actor form-group" data-actor-id="{{e.id}}">
      <span class="share-tag">{{e.data.data.details.xp.share}}%</span>
      <label title="{{e.name}}">{{e.name}}</label>
      <input name="" placeholder="0" type="text" data-dtype="Number" />
    </li>
    {{/each}}
  </ul>
  <div class="dialog-buttons">
    <button type="button" data-action="deal-xp"><i class="fas
          fa-hand-holding"></i> {{localize "OSE.dialog.xp.deal"}}</button>
  </div>
</form>